* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 130%;
}

body {
    color: antiquewhite;
    background-color: rgb(16, 13, 26);
    background-image: url("../resources/blk-bkg.png");
    line-height: 1.2;
}

img {
    width: 100%;
}

/*Start of the navbar styles*/
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 150%;
    margin-top: 1%;
    padding-top: 1%;
    margin-left: .5%;
    margin-right: .5%;
}

#logo {
    border-bottom: none;
}

#logo:hover {
    cursor: pointer;
}

.navbar p {
    color: rgb(251, 101, 41);
}

.navbar a {
    color: antiquewhite;
    text-decoration: none;
    border-bottom: .5px solid rgb(251, 101, 41);
}

.navbar a:hover {
    color: rgb(57, 135, 200);
    border-bottom: none;
    transition-duration: 1s;
}

#navbar-button {
    border: 1px solid;
    background-color: rgb(251, 101, 41);
}

#navbar-button:hover {
    border: 1px solid;
    background-color: rgb(0, 0, 0);
    color: rgb(57, 135, 200);
}

/*.navbar button {
    background-color: rgb(251, 101, 41);
    color: antiquewhite;
    flex-wrap: wrap;
    border-radius: 10px;
}*/

/*End of the navbar styles*/
/*Start of body elements and content*/
.body-container {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 26px;
}

.body-content-child-1 {
    width: 50%;
    float: left;
    padding: 20px;
}

.body-content-child-2 {
    width: 50%;
    float: left;
    padding: 20px;
}

/*Start of body-content-2 which will contain info about previous architecture projects*/

.body-content-2-description {
    display: flex;
    padding-top: 100px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 26px;
}

.body-content-2-description-2  {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-content: center;
}

.body-container-2 {
    display: flex;
    align-items: center;
    padding: 20px;
}

.body-content-2-child-1 {
    border:rgb(57, 135, 200) solid;
    width: 50%;
    float: left;
    padding: 20px;
}

.body-content-2-child-2 {
    border:rgb(57, 135, 200) solid;
    width: 50%;
    float: left;
    padding: 20px;
}

.body-content-2-child-3 {
    border:rgb(57, 135, 200) solid;
    width: 50%;
    float: left;
    padding: 20px;
}

.body-content-2-child-4 {
    border:rgb(57, 135, 200) solid;
    width: 50%;
    float: left;
    padding: 20px;
}

/*End of the body content and elements*/
/*Start of the footer elements below is the footer navigation column*/

.footer-container {
    display: flex;
    background-color: #303030;
}

.footer-content-child-1 {
    width: 50%;
    float: left;
    padding: 30px;
}

.footer-content-child-1 h3 {
    color: rgb(251, 101, 41);
}

.footer-content-child-2 {
    width: 50%;
    float: left;
    padding: 30px;
}

.footer-content-child-3 {
    width: 50%;
    float: left;
    padding: 30px;
}